html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gotham Light";
  src: local("Gotham Pro Light"),
    url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Regular";
  src: local("Gotham Pro"),
    url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Medium";
  src: local("Gotham Pro Medium"),
    url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Regular";
  src: local("Myriad Pro"),
    url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Light";
  src: local("Lato Light"),
    url("../fonts/latolight.woff2") format("woff2"),
    url("../fonts/latolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato"),
    url("../fonts/latoregular.woff2") format("woff2"),
    url("../fonts/latoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Medium";
  src: local("Lato Medium"),
    url("../fonts/latomedium.woff2") format("woff2"),
    url("../fonts/latomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Semibold";
  src: local("Lato Semibold"),
    url("../fonts/latosemibold.woff2") format("woff2"),
    url("../fonts/latosemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Bold";
  src: local("Lato Bold"),
    url("../fonts/latobold.woff2") format("woff2"),
    url("../fonts/latobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* БЛОК ОБЩИХ СТИЛЕЙ */

.wrapper {
  width: 2048px;
  height: 1536px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* КОНЕЦ БЛОКА ОБЩИХ СТИЛЕЙ */

/* БЛОК ПЕРЕКЛЮЧАТЕЛЕЙ СЛАЙДЕРА */

.page-header {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  right: 54px;
}

.page-header__label {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #ffffff;
}

.page-header__label--active {
  background-color: #f78b1f;
}

/* КОНЕЦ БЛОКА ПЕРЕКЛЮЧАТЕЛЕЙ СЛАЙДЕРА */

/* ПЕРВЫЙ СЛАЙДЕР */

.first-page {
  width: 2048px;
  height: 1536px;
  background-image: url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-page__header {
  margin: 0;
  font-family: "Gotham Regular", "Arial", sans-serif;
  font-size: 100px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0d319c;
  padding-top: 260px;
  padding-left: 140px;
}

.first-page__list {
  list-style: none;
  position: relative;
  margin: 0;
  margin-top: -260px;
}

.first-page__list-item {
  font-family: "Lato Regular", "Arial", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d319c;
  position: absolute;
}

.first-page__list-item--first {
  top: 310px;
  left: 1253px;
}

.first-page__list-item--second {
  top: 549px;
  left: 444px;
}

.first-page__list-item--third {
  top: 770px;
  left: 743px;
}

.first-page__list-item--fourth {
  top: 727px;
  left: 1572px;
}

.first-page__pulse {
  border-radius: 50%;
  background-color: rgba(247,139,31,0.21);
  border: 2px solid #d56900;
  position: absolute;
}

.first-page__pulse--first {
  width: 107px;
  height: 107px;
  top: -27px;
  left: -130px;
}

.first-page__pulse--second {
  width: 56px;
  height: 56px;
  left: 50%;
  margin-left: -28px;
  top: 65px;
}

.first-page__pulse--third,
.first-page__pulse--fourth {
  width: 34px;
  height: 34px;
  top: 65px;
}

.first-page__pulse--third {
  left: 215px;
}

.first-page__pulse--fourth {
  left: 50%;
  margin-left: -17px;
}

.first-page__pulse::before,
.first-page__pulse::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid #d56900;
  animation: pulse 1.5s linear infinite;
}

.first-page__pulse::after {
  animation-delay: 0.75s;
}

.first-page__pulse--first::before,
.first-page__pulse--first::after {
  width: 33px;
  height: 33px;
  margin-top: -16.5px;
  margin-left: -16.5px;
}

.first-page__pulse--second::before,
.first-page__pulse--second::after {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}

.first-page__pulse--third::before,
.first-page__pulse--third::after,
.first-page__pulse--fourth::before,
.first-page__pulse--fourth::after{
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
}



/* КОНЕЦ ПЕРВОГО СЛАЙДЕРА */

/* ВТОРОЙ СЛАЙДЕР */

.second-page {
  width: 2048px;
  height: 1536px;
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page__header {
  margin: 0;
  font-family: "Gotham Light", "Arial", sans-serif;
  font-size: 100px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-align: center;
  margin-top: -300px;
}

.second-page::before {
  content: "";
  width: 82px;
  height: 77px;
  background-image: url("../img/first-slider-stones/TopLeft.png");
  position: absolute;
  top: 322px;
  left: 167px;
}

.second-page::after {
  content: "";
  width: 295px;
  height: 411px;
  background-image: url("../img/first-slider-stones/TopRight.png");
  position: absolute;
  top: 70px;
  right: 0;
}

.second-page__header::before {
  content: "";
  width: 207px;
  height: 202px;
  background-image: url("../img/first-slider-stones/BotLeft.png");
  position: absolute;
  bottom: 430px;
  left: 479px;
}

.second-page__header::after {
  content: "";
  width: 149px;
  height: 151px;
  background-image: url("../img/first-slider-stones/BotRight.png");
  position: absolute;
  bottom: 222px;
  right: 505px;
}

/* КОНЕЦ ВТОРОГО СЛАЙДЕРА */

/* ТРЕТИЙ СЛАЙДЕР */

/* ПЕРВАЯ СТРАНИЦА ТРЕТЬЕГО СЛАЙДЕРА (1988) */

.third-page {
  width: 2048px;
  height: 1536px;
  background-image: url("../img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-page__section--first::before {
  content: "";
  width: 433px;
  height: 410px;
  background-image: url("../img/third-slider-stones/1988/1.png");
  position: absolute;
  bottom: 18px;
  left: 42px;
}

.third-page__section--first::after {
  content: "";
  width: 213px;
  height: 202px;
  background-image: url("../img/third-slider-stones/1988/2.png");
  position: absolute;
  top: 450px;
  right: 510px;
}

.third-page__section-header {
  margin: 0;
  font-family: "Gotham Regular", "Arial", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  top: 208px;
  left: 166px;
}

.third-page__section-header::before {
  content: "";
  width: 76px;
  height: 77px;
  background-image: url("../img/third-slider-stones/1988/3.png");
  position: absolute;
  top: 0;
  left: 1661px;
}

.first-list {
  margin: 0;
  list-style: none;
  position: relative;
  width: 2048px;
  height: 1536px;
}

.first-list__header {
  margin: 0;
  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 39.7px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #ffffff;
  display: inline-block;
  padding: 66px 110px;
  position: absolute;
  bottom: 463px;
  left: 50%;
  margin-left: -227px;
}

.first-list__item {
  font-family: "Lato Medium", "Arial", sans-serif;
  font-size: 45.5px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #ffffff;
  position: absolute;
}

.first-list__item--first {
  top: 479px;
  left: 50%;
  margin-left: -60px;
}

.first-list__item--second {
  bottom: 686px;
  left: 493px;
}

.first-list__item--third {
  bottom: 686px;
  right: 440px;
}

.first-list__image {
  position: absolute;
  z-index: 1;
}

.first-list__image--first {
  top: 76px;
  left: 50%;
  margin-left: -83px;
}

.first-list__image--second {
  top: 87px;
  left: -12px;
}

.first-list__image--third {
  top: 87px;
  right: -22px;
}

.first-list__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 166px;
}

.first-list__image-wrapper::before {
  content: "";
  width: 166px;
  height: 166px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
}

.arrows {
  width: 1500px;
  height: 1000px;
  position: absolute;
  top: 25%;
  left: 15%;
}

.arrows__svg {
  position: absolute;
}
/* КОНЕЦ ПЕРВОЙ СТРАНИЦЫ ТРЕТЬЕГО СЛАЙДЕРА (1988) */



/* КОНЕЦ ТРЕТЬЕГО СЛАЙДЕРА */


/* ФУТЕР */

.page-footer {
  margin-top: -145px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-footer__slide-down {
  margin: 0;
  font-family: "Gotham Regular", "Arial", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__slide-down-array {
  display: block;
  width: 88px;
  height: 44px;
  background-image: url("../img/array.png");
  margin-top: 30px;
  z-index: 2;
}

.page-footer__slide-down::after {
  content: "";
  display: block;
  width: 1944px;
  height: 198px;
  background-image: url("../img/slide-down.png");
  position: absolute;
  bottom: -35px;
  left: 0px;
}

/* КОНЕЦ ФУТЕРА */


@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
    background-color: #f78b1f;
  }
  50% {
    opacity: 0.61;
    background-color: rgba(247,139,31,0.21);
    background-image: linear-gradient(165.0deg, rgba(222,121,27,0.15) 7%, rgba(207,20,55,0.15) 92%);
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
    background-color: rgba(247,139,31,0.21);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
